bin/
obj/
/packages/
node_modules/
dist/
.npm-cache/
riderModule.iml
/_ReSharper.Caches/
.idea
/.config/*
!/.config/dotnet-tools.json
*.sln.DotSettings.user
.vs
.dotnet-cli/
Debug
BaiduTranslateApi/appsettings.Development.json
AI_Record
TestResults/
__pycache__/
*.pyc
tmp/
BenchmarkDotNet.Artifacts/
StrykerOutput/
